<!-- Footer!!!! -->
<footer mb-4 >
    <div class="row d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
    <div class="col-md-3 p-3"><p class="head-number">+ 7 800 555 35 35</p></div> 

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><img src="images/icons/R.svg" alt="R" ></li>
      <li><img src="images/icons/Vector.svg" alt="." width="8" height="8"></li> 
      <li><img src="images/icons/O.svg" alt="O" ></li>
      <li><img src="images/icons/Vector.svg" alt="." width="8" height="8"></li> 
      <li><img src="images/icons/S.svg" alt="S" ></li>
      <li><img src="images/icons/Vector.svg" alt="." width="8" height="8"></li> 
      <li><img src="images/icons/E.svg" alt="E" ></li>
      <li><img src="images/icons/Vector.svg" alt="." width="8" height="8"></li> 
      <li><img src="images/icons/M.svg" alt="M" ></li>
      <li><img src="images/icons/Vector.svg" alt="." width="8" height="8"></li> 
      <li><img src="images/icons/A.svg" alt="A" ></li>
      <li><img src="images/icons/Vector.svg" alt="." width="8" height="8"></li> 
      <li><img src="images/icons/R.svg" alt="R" ></li>
      <li><img src="images/icons/Vector.svg" alt="." width="8" height="8"></li> 
      <li><img src="images/icons/Y.svg" alt="Y" ></li>
    </ul>

    <div class="col-md-3 text-end p-3 list-unstyled ">
     <a class="link-dark" href="#"><img src="images/icons/vk.svg" width="37" height="37" alt="vk"></a>
     <a class="link-dark" href="#"><img src="images/icons/fb.svg" width="37" height="37" alt="facebook"></a>
     <a class="link-dark" href="#"><img src="images/icons/in.svg" width="37" height="37" alt="instagram"></a>
    </div>
  </div><!-- /end row -->
    <div class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 ">

      <p class="col-md-4 mb-0 text-muted p-3"> <u> Политика конфиденциальности</u></p>
      
      <ul class="nav col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Возврат и обмен</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Доставка</a></li>
        <li class="nav-item"><a href="#" ><img src="images/footer-cards.png" alt=""></a></li>
      </ul>

      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex p-3">
        <li class="link-dark text-muted">Разработка — Вебпространство</li>
       
      
      </ul>
    </div>
  
   
  </footer>
</div><!--  end wrapper -->
     <script src="js/item.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>